@charset "UTF-8";
@font-face {
    font-family: iconfont;
    src: url(iconfont.eot);
    src: url(iconfont.eot#iefix) format('embedded-opentype'), url(iconfont.woff) format('woff'), url(iconfont.ttf) format('truetype'), url(iconfont.svg#iconfont) format('svg')
}

.iconfont {
    font-family: iconfont;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 Tahoma, Helvetica, Arial, "Microsoft Yahei", sans-serif;
    background-color: #fff;
    color: #666;
    min-width: 1000px
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #222;
}

a:visited, a[tabindex='-1']:focus, a:active {
    outline: 0 none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    a:active {
        background-color: transparent;
    }
}

a:hover {
    outline: 0 none;
}

small, cite, code, em, th, i, b {
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}

input, select, textarea, button {
    font-size: 1em;
    box-sizing: content-box;
    outline: 0 none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.phcolor {
    color: #999;
}

button, input[type=button], input[type=submit] {
    cursor: pointer;
}

button::-moz-focus-inner, button::-moz-focus-outer, input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0 none;
    padding: 0;
    margin: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input::-ms-clear {
    display: none;
}

input[type=text], input[type=password], textarea {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    text-indent: 1em;
    color: inherit;
    display: block;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    font-size: 12px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color: #ae1010 !important;
}

textarea {
    resize: vertical;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

fieldset, img, iframe {
    border: 0 none;
}

img {
    display: inline-block;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
}

img::shadow div {
    border: none !important;
}

iframe {
    display: block;
}

ul, ol {
    list-style: none;
}

li {
    vertical-align: top;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: '\0020';
    font-size: 0;
}

.dn, .hide {
    display: none !important;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.dib-fix {
    font-size: 0;
}

.tl {
    text-align: left !important;
}

.tc {
    text-align: center !important;
}

.tr {
    text-align: right !important;
}

.vm {
    vertical-align: middle;
}

.vt {
    vertical-align: top;
}

.fw-b {
    font-weight: bold;
}

.textOverflow {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breakWord {
    word-wrap: break-word;
    word-break: break-all;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.w-auto {
    width: auto !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.m0 {
    margin: 0 !important;
}

.m2 {
    margin: 2px !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.m30 {
    margin: 30px !important;
}

.m40 {
    margin: 40px !important;
}

.m50 {
    margin: 50px !important;
}

.mv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mv2 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.mv5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mv10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mv15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mv20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mv30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mv40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mv50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mh0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mh2 {
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.mh5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mh10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mh15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mh20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mh30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.mh40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mh50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt2 {
    margin-top: 2px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml2 {
    margin-left: 2px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr2 {
    margin-right: 2px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.p0 {
    padding: 0 !important;
}

.p2 {
    padding: 2px !important;
}

.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p30 {
    padding: 30px !important;
}

.p40 {
    padding: 40px !important;
}

.p50 {
    padding: 50px !important;
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pv2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.pv5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pv10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pv15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pv20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pv30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.pv40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.pv50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ph2 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.ph5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.ph10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ph15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.ph20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.ph30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.ph40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.ph50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pt2 {
    padding-top: 2px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb2 {
    padding-bottom: 2px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl2 {
    padding-left: 2px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr2 {
    padding-right: 2px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.o2_wide {
    min-width: 1200px;
}

#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #222222;
}

#shortcut .w {
    height: 30px;
    line-height: 30px;
}

.w {
    margin: auto;
    width: 1200px;
}

#shortcut li {
    float: left;
}

#shortcut li a {
    color: #ffffff;
}

#shortcut li.spacer {
    overflow: hidden;
    margin: 11px 20px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

#shortcut .link-login {
    color: #ae1010;
}

#shortcut a:hover {
    color: red;
}

#shortcut .link-login:hover {
    color: #dd1010;
}

#shortcut .link-order {
    margin-right: 38px;
}

#shortcut .link-index {
    margin-left: 25px;
}

#header .w {
    position: relative;
    z-index: 11;
    height: 105px
}

#header .style-red {
    color: #f10215
}

#logo {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 40px;
    width: 305px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url(../images/logo.jpg);
    /* -moz-box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2); */
    background-color: #fff
}

.search-m {
    position: relative;
    z-index: 1;
    height: 60px
}

.search-m .form {
    position: absolute;
    left: 415px;
    top: 40px;
    width: 370px;
    height: 35px
}

.search-m .button, .search-m .text {
    position: absolute;
    top: 0;
    outline: none
}

.search-m .text {
    left: 0;
    padding: 4px;
    width: 310px;
    height: 25px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898
}

.search-m .button {
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.footer {
    height: 140px;
    line-height: 140px;
    background: #333333;
    color: #918c6c;
    text-align: center;
}

.choose-btns .tb-metatit {
    text-align: left;
    float: left;
    margin-top: 8px;
}

.choose-btns .choose-amount {
    width: 122px;
    height: 32px;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    position: relative;
    margin-left: 10px;
    float: left;
}

.choose-btns .choose-amount input {
    display: block;
    width: 60px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 1px;
    left: 32px;
    border: none;
    border: 0;
    text-align: center;
}

.choose-btns .choose-amount a {
    display: block;
    width: 32px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    background: #f3f3f3;
    font-size: 16px;
    color: #000000;
    position: absolute;
    top: -1px;
    border: 1px solid #d3d3d3;
}

.choose-btns .choose-amount a:active {
    color: #d4d4d4;
}

.choose-btns .choose-amount a.disabled {
    background-color: #ffffff;
    color: #d4d4d4;
    cursor: not-allowed;
}

.choose-btns .choose-amount a.btn-add {
    right: -1px;
}

.choose-btns .choose-amount a.btn-reduce {
    left: -1px;
}

.btn-primary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ae1010;
    color: #fff;
}

.btn-primary:not(.disabled):active {
    color: #c77878
}

.btn-primary.disabled {
    background-color: #cccccc
}

.btn-lg {
    height: 40px;
    line-height: 40px;
    padding: 0 54px;
    font-size: 18px;
    font-family: "microsoft yahei";
}

.page {
    margin-top: 30px;
    margin-bottom: 10px;
}

.page .p-wrap {
    float: right;
}

div.zxf_pagediv {
    text-align: center;
    color: #333;
}

div.zxf_pagediv a {
    text-decoration: none;
}

div.zxf_pagediv span, div.zxf_pagediv a {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

span.disabled {
    height: 35px;
    width: 65px;
    line-height: 35px;
    margin: 0 5px;
    color: #ccc;
    background: #fff;
    cursor: default;
    border: 1px solid #ddd;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
}

.zxfPagenum {
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
}

.nextbtn, .prebtn {
    color: #333;
    background: #FFFFFF;
    width: 65px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
}

.pn-break {
    padding: 0 14px;
}

.zxfinput {
    display: inline-block !important;
    width: 35px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #CCC;
    margin: 0 2px;
    text-indent: 0 !important;
}

.zxfokbtn {
    height: 27px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 27px;
    border: 1px solid #DDD;
    padding: 4px 13px 5px;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
    cursor: pointer;
}

.nextpage {
    /* color: #d71f1b;
    margin: 0 5px;
    border: 1px solid #d71f1b; */
}

.current {
    border: 0 none;
    padding: 1px 15px;
    background: 0 0;
    -webkit-filter: none;
    filter: none;
    color: #e4393c;
    cursor: default;
}

.loading-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.4); */
    z-index: 1000
}

.loading-wrap .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background: url(../images/DualRing.gif) center center no-repeat;
    background-size: 64%;
    -ms-background-size: 64%;
    -webkit-background-size: 64%;
    -moz-background-size: 64%
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 6px 12px;
    color: #fff;
    font-size: 15px;
    opacity: 0;
    transition: opacity .5s;
    box-shadow: 0 0 5px #000;
    z-index: 9999
}

.toast.shown {
    opacity: 1;
    -webkit-transition: none;
    transition: none
}